{% extends 'website/base.html' %}
{% block content %}
            <div class="parallax">
                <div class="container">
                    <div class="row align-items-center justify-content-start" style="height:100%;">
                        <div class="col-md-6 text-center text-md-left">
                            <h1 class="back-black parall-h1">About Us</h1>
                            <p class="mt-4 parall-p ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad maxime velit nostrum praesentium voluptatem. Mollitia perferendis dolore dolores.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="space div-about" data-aos="fade-up-left">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <img src="{% staic 'images/omega.jpg' %}" class="img-fluid rounded" alt="omega-logo">
                        </div>
                        <div class="col-md-6 pl-md-5">
                            <h2 class="about-heading">About Omega Three</h2>
                            <p class="grey text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </p>
                            <p class="grey text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="space div-about" data-aos="fade-up-right">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 order-2 d-flex align-items-end">
                            <img src="{% static '/images/team.jpg' %}" cla3ss="img-fluid rounded" alt="omega-logo">
                        </div>
                        <div class="col-md-6 pr-md-5">
                            <h2 class="about-heading">About Our Team</h2>
                            <p class="grey text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            <p class="grey text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
{% endblock content %}
