{% extends 'website/base.html' %}
{% load static %}
{% block content %}
            <div class="parallax">
                <div class="container">
                    <div class="row align-items-center justify-content-start" style="height:100%;">
                        <div class="col-md-6 text-center text-md-left">
                            <h1 class="back-black parall-h1">Контакты</h1>
                            <p class="mt-4 parall-p ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad maxime velit nostrum praesentium voluptatem. Mollitia perferendis dolore dolores.</p>
                        </div>
                    </div>
                </div>

            </div>

            {% if fname %}
            <center class="pt-3">
                <h2>Thanks {{ fname }} {{ lname }}!</h2>
                <p>We received your email and will respond shortly.</p>
            </center>
            {% else %}
            <div class="bg-light" style="padding: 5em 0;">
                <div class="container">
                    <div class="row align-items-first">
                        <div class="col-md-7">
                            <form action="{% url 'contact' %}" method="post" style="background-color: #fff;">
                                {% csrf_token %}
                                <div class="p-3 p-lg-5 border">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="fname">Имя&nbsp;<span class="text-danger">*</span></label>
                                            <input type="text" name="fname" class="form-control" id="fname">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="lname">Фамилия&nbsp;<span class="text-danger">*</span></label>
                                            <input type="text" name="lname" class="form-control" id="lname">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12">
                                            <label for="email">Email&nbsp;<span class="text-danger">*</span></label>
                                            <input type="email" name="email" class="form-control" id="email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12">
                                            <label for="subject">Тема</label>
                                            <input type="text" name="subject" class="form-control" id="subject">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12">
                                            <label for="message">Сообщение</label>
                                            <textarea rows="7" cols="30" name="message" class="form-control" id="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12">
                                            <input type="submit" class="btn btn-lg btn-block btn-danger shadow-sm" value="Отправить">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-5">
                            <div class="p-4 border mb-3 grey" style="background-color: #fff;">
                                <p class="mb-0">Адресс</p>
                                <p class="mb-4">Одесса, Украина</p>
                                <p class="mb-0">Телефон</p>
                                <p class="mb-4"><a href="tel:+380667686677" class="text-danger">+38 066 768 6677</a></p>
                                <p class="mb-0">Email</p>
                                <p class="mb-4"><a href="mailto:sergejdokienko@gmail.com" class="text-danger">sergejdokienko@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
{% endblock content %}

