{% extends 'website/base.html' %}
{% load static %}
{% block content %}
            <div class="parallax">
                <div class="container">
                    <div class="row align-items-center justify-content-start" style="height:100%;">
                        <div class="col-md-6 text-center text-md-left">
                            <h1 class="back-black parall-h1">Match</h1>
                            <p class="mt-4 parall-p ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad maxime velit nostrum praesentium voluptatem. Mollitia perferendis dolore dolores.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-light" style="padding: 5em 0;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-uppercase font-weight-bold mb-3" style="font-size: 1rem;">Latest Matches</h2>
                            <div class="row align-items-center ml-0 mr-0 py-4 animation-matches" style="border-bottom: 1px solid #D3D3D3;">
                                {% for match in matches_list %}
                                <div class="col-md-4 col-lg-4 mb-4 mb-lg-0">
                                    <div class="text-center text-lg-left">
                                        <div class="d-block d-lg-flex align-items-center">
                                            <div class="image-index mb-3 mb-lg-0 mr-lg-3">
                                                <img src="{{ match.image1.url }}" alt="{{ match.team_name1 }}" class="img-fluid image-small-index rounded-circle" >
                                            </div>
                                            <div>
                                                <h3 class="mb-0" style="font-size: 1.2em;">{{ match.team_name1 }}</h3>
                                                <span class="text-uppercase small-index">{{ match.team_country1 }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 mb-4 mb-lg-0 text-center">
                                    <div class="d-inline-block">
                                        <div class="py-2 px-4 mb-2 d-inline-block rounded" style="background-color: black;">
                                            <span style="font-size: 1.25em; color: white;">{{ match.score1 }}:{{ match.score2 }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 text-center text-lg-right">
                                    <div>
                                        <div class="d-block d-lg-flex align-items-center">
                                            <div class="image-index mb-3 mb-lg-0 ml-lg-3 order-2">
                                                <img src="{{ match.image2.url }}" alt="{{ match.team_name2 }}" class="image-small-index-2 rounded-circle" >
                                            </div>
                                            <div class="order-1 w-100">
                                                <h3 class="mb-0" style="font-size: 1.2em;">{{ match.team_name2}}</h3>
                                                <span class="text-uppercase small-index">{{ match.team_country2 }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}
