{% extends 'website/base.html' %}
{% block content %}
            <div class="parallax">
                <div class="container">
                    <div class="row align-items-center justify-content-start" style="height:100%;">
                        <div class="col-md-6 text-center text-md-left">
                            <h1 class="back-black parall-h1">News</h1>
                            <p class="mt-4 parall-p ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad maxime velit nostrum praesentium voluptatem. Mollitia perferendis dolore dolores.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div style="padding: 5em 0;">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="700">
                            <div class="post">
                                <div class="image">
                                    <img src="../../static/images/one.jpg" class="img-fluid" alt="Omega Three Player" />
                                </div>
                                <div class="text p-4">
                                    <h2 style="font-size: 1.25rem;"><a href="#" class="text-yellow">Omega Three vs Politechnik?</a></h2>
                                    <span class="text-uppercase date d-block mb-3"><small>• SEP 19, 2020</small></span>
                                    <p class="mb-0" style="color: #4d4d4d;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="700">
                            <div class="post">
                                <div class="image">
                                    <img src="../../static/images/two.jpg" class="img-fluid" alt="Omega Three Player" />
                                </div>
                                <div class="text p-4">
                                    <h2 style="font-size: 1.25rem;"><a href="#" class="text-yellow">Omega Three vs Politechnik?</a></h2>
                                    <span class="text-uppercase date d-block mb-3"><small>• SEP 19, 2020</small></span>
                                    <p class="mb-0" style="color: #4d4d4d;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="700">
                            <div class="post">
                                <div class="image">
                                    <img src="../../static/images/group.jpg" class="img-fluid" alt="Omega Three Player" />
                                </div>
                                <div class="text p-4">
                                    <h2 style="font-size: 1.25rem;"><a href="#" class="text-yellow">Omega Three vs Politechnik?</a></h2>
                                    <span class="text-uppercase date d-block mb-3"><small>• SEP 19, 2020</small></span>
                                    <p class="mb-0" style="color: #4d4d4d;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}
