{% load static %}
<!--
???????????????????????????????
??                           ??
??                           ??
??       Mykyta Gazul        ??
??                           ??
??                           ??
???????????????????????????????
-->
        <header class="site-navbar absolute transparent" role="banner">
        <!--
        -->

            <div class="py-3">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-6 col-md-3">
                    <a href="#" class="text-secondary px-2 pl-0"><i class="fa fa-facebook-square" style="font-size:1.1rem"></i></a>
                    <a href="#" class="text-secondary px-2"><i class="fa fa-instagram" style="font-size:1.1rem"></i></a>
                    <a href="#" class="text-secondary px-2"><i class="fa fa-twitter" style="font-size:1.1rem"></i></a>
                  </div>
                  <div class="col-6 col-md-9 text-right">
                    <div class="d-inline-block">
                      <a href="#" class="text-secondary p-2 d-flex align-items-center text-decoration-none">
                        <i class="fa fa-envelope mr-3" style="font-size:1.1rem"></i>
                        <span class="email-top">my_email@gmail.com</span>
                      </a>
                    </div>
                    <div class="d-inline-block">
                      <a href="#" class="text-secondary p-2 d-flex align-items-center text-decoration-none">
                        <i class="fa fa-phone mr-3" style="font-size:1.1rem"></i>
                        <span class="phone-top">+1 012 345 1234</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-dark position-relative bg-black pt-2 pb-2 fixed-top text-right">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'home' %}" style="position: absolute;">
                        <img src="{% static 'images/logo.png'%}" class="rounded" alt="logo"/>
                    </a>
                    <div class="d-flex justify-content-end" style="width:100%">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {% with request.resolver_match.url_name as url_name %}
                        <ul class="navbar-nav ml-auto pt-2 text-right">
                            <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
                                <a class="nav-link mr-1 text-white" href="{% url 'home' %}" style="font-size: 15px;">Home</a>
                            </li>
                            <li class="nav-item {% if url_name == 'news' %}active{% endif %}">
                                <a class="nav-link mr-1 text-white" href="{% url 'news' %}" style="font-size: 15px;">News</a>
                            </li>
                            <li class="nav-item {% if url_name == 'matches' %}active{% endif %}">
                                <a class="nav-link mr-1 text-white" href="{% url 'matches' %}" style="font-size: 15px;">Matches</a>
                            </li>
                            <li class="nav-item {% if url_name == 'players' %}active{% endif %}">
                                <a class="nav-link mr-1 text-white" href="{% url 'players' %}" style="font-size: 15px;">Team</a>
                            </li>
                            <li class="nav-item {% if url_name == 'about' %}active{% endif %}">
                                <a class="nav-link mr-1 text-white" href="{% url 'about' %}" style="font-size: 15px;">About</a>
                            </li>
                            <li class="nav-item {% if url_name == 'contact' %}active{% endif %}">
                                <a class="nav-link text-white" href="{% url 'contact' %}" style="font-size: 15px;">Contact</a>
                            </li>
                        </ul>
                        {% endwith %}
                    </div>
                </div>
            </nav>
        </header>