/*
???????????????????????????????
??                           ??
??        Capstone           ??
??       Mykyta Gazul        ??   
??  Web Development Diploma  ?? 
??                           ??  
???????????????????????????????
*/

/*// Body and Wrapper CSS //*/
body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 90%;
  font-weight: 400;
  margin: 0;
  background-color: white;
  color: black;
  line-height: 1.7;
}
header{
  width: 100%;
}
.navbar-brand{
  user-select: none;
}


.bg-black{
  background-color: black;
}
.bg-white{
  background-color: white;
}
li.active a.nav-link{
  color: rgba(255, 203, 65)!important;
}

li.nav-item a.nav-link:hover{
  color: rgba(255, 203, 65)!important;
  transition: 1s;
}

.img1{
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(/images/group.jpg);
  height: 650px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.img2{
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(/images/one.jpg);
  height: 650px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.img3{
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(/images/two.jpg);
  height: 650px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.parallax{
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(/images/group.jpg);
  height: 650px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}


.parallax .container .row{
  min-height: 600px;
  height: calc(100vh - 174px);
}
.carousel .container .row{
  min-height: 600px;
  height: calc(100vh - 174px);
}

.grey{
  color: #666;
  font-size: 1em;
}

div.space{
  padding: 5em 0;
}

a.text-danger:hover{
  text-decoration: none;
}
.text-yellow{
  color: rgba(255, 203, 65)!important;
}
.text-yellow:hover{
  text-decoration: none;
  color: rgba(255, 152, 65)!important;
}
/*contact page*/
.btn-danger{
  transition: transform .2s;
}
.btn-danger:hover{
  transform: scale(1.03);
}

.back-black{
  display: inline;
  background: #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.parall-h1{
  color: #fff;
  font-weight: 700;
  line-height: 1.7;
}
.parall-p{
  color: #fff;
  line-height: 1.7;
  font-weight: 400;
  font-size: 1.3em;
}
/*team page*/
.player {
  position: relative;
}
.team-number {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #f23a2e;
  border-radius: 50%;
  color: #fff;
  z-index: 1000;
  font-size: 1.4rem;
}
.player .image{
  object-fit: cover;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
}

/*news page*/
.image{
  overflow: hidden;
  position: relative;
}
.text{
  border-radius: 4px;
  border-top: none !important;
}
.date {
    color: #ccc;
    font-weight: normal;
    letter-spacing: .1em;
}
.post{
  position: relative;
  overflow: hidden;
  border: 1px solid #eee;
}

/*matches page*/
.animation-matches{
  transition: transform .2s;
}
.animation-matches:hover{
  transform: scale(1.03);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  background-color: white;
}
/*home page*/
.animation-index{
  transition: transform .2s;
}
.animation-index:hover{
  transform: scale(1.03);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.border-home{
  border: 1px solid #dee2e6!important;
}
.post-index{
  position: relative;
  overflow: hidden;
  transition: transform 1s;
}

.post-index:hover{
  transform: scale(1.03);
}

.image-small-index{
  object-fit: cover;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
}
.image-small-index-2{
  object-fit: cover;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.small-index{
  color: #ccc;
  font-weight: 400;
  letter-spacing: .15em;
}

.parallax-index{
  background: linear-gradient( rgba(255, 152, 65, 0.8), rgba(255, 152, 65, 0.8) ), url(/images/group.jpg);
  height: 650px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.parallax-index .container .row{
  height: calc(100vh - 174px);
}
/*// Footer CSS //*/
footer{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: transparent;
  padding: 4em 0;
  color: #737373;
}
.bg-darkgrey{
  background-color: #333;
}
.link-footer{
  color: #999;
}
.link-footer:hover{
  color: #fff;
  text-decoration: none;
  transition: 1s;
}

.footer-heading{
  font-size: 20px;
  color: #fff;
}

.btn-custom{
  background-color: rgba(255, 203, 65)!important;
}

/*media*/
/*nav*/
@media screen and (max-width: 768px){
  .phone-top{
    display: none;
  }
  .email-top{
    display: none;
  }
}

/*footer*/
@media screen and (max-width: 992px){
  .rights{
    margin-top: 0!important;
    padding-top: 0!important;
  }
  .newsletter{
    margin-bottom: 0!important;
  }
  footer{
    padding: 2em 0;
  }
}

/*about*/
@media screen and (max-width: 992px){
  div.space{
    padding: 2em 0;
  }
  .about-heading{
    text-align: center;
    padding-top: 0.5em;
  }
}

/*match*/
@media screen and (max-width: 992px){
  .image-small-index-2{
    width: 100px;
  }
}

/*index*/
@media screen and (max-width: 992px){

}