<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <title>Website</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="{% static 'images/fav_image.ico' %}">
    </head>

    <body>
    {% include 'include/header.html' %}
    <section>
    {% block content %}

    {% endblock content %}
    </section>
    {% include 'include/footer.html' %}
    </body>

</html>